body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.bgLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f3edfd;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #69109c;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.btnLogin {
    background-color: #69109c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;

}

.btnLogin:hover {
    background-color: #aa25f7;

}